@import url('https://fonts.googleapis.com/css?family=Allerta');
@import url('https://fonts.googleapis.com/css?family=Marcellus');


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("background-img.png");
  background-size: cover;
}

html {
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* 
.landing-tophrase {
margin: 0em 2em .5em 2em;
} */

.nav {
  width: 20vh;
  height: 100vh;
  background: white;
  /* background-image: url("square_bg.png"); */
  position: fixed;    
  top: 0;
  left: 0;
  overflow-x: hidden;
  box-shadow: 0 0 0.5em 0px dimgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-logo{
  font-family: 'Marcellus', serif;
  font-size: 1.3em;
  position: absolute;
  top: 4px;
  left: .5vh;
}
.page-content {
  margin-left: 20vh;
  height: 100vh;
  /* background-image: url("background-img.png");
  background-size: cover; */
}

.page-content.margined {
  margin-top: 7vh;
}

.page-content.flexed {
  display: flex;
  justify-content: stretch;
  padding-top: 3vh;
  padding-left: 7vh;
  padding-right: 7vh;
}

.org-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  max-height: 20vh;
}

.org-header .icon{
  height: 2.7em;
  width: auto;
  margin-top: 1.5vh;
  margin-right: 1vh;
  margin-left: 0vh;
}

.col1 {
  min-width: 50vh;
  text-align: left;
}

.col2 {
  min-width: 90vh;
  margin-left: 7vh;
  text-align: left;
}

.org-prof-tab {
  margin-top: 3vh;
}

h5 {
  font-family: 'Marcellus', serif;
  font-size: 1.5em;
  opacity: .85;
}

p {
  /* font-family: 'Allerta', sans-serif; */

}

.page-header {
  font-size: 2.7em;
  opacity: .8;
  font-family: 'Marcellus', serif;
  font-weight: 100;
  text-align: left;
  margin-bottom: 2.5vh;
  margin-top: 0vh;
}

.whitebox {
  border-radius: 8px;
  box-shadow: 0 0 1px 0.5px lightgrey;
  background-color: white;
  padding: .4em 1em;
  text-align: left;
}

#landing-header {
  opacity: .8;
  font-family: 'Marcellus', serif;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
  font-weight: 100;
  padding: 3vh 3em 1em 3em;
  font-size: larger;
}

.icon {
  width: 4vh;
  margin: 3vh;

}

.icon:hover{
  cursor: pointer;
}

/* landing page form style */
form {
  display: flex;
  justify-content: left;
  margin-left: 8em;
  align-items: flex-end;
}

.label-text {
  font-family: 'Marcellus', sans-serif;
  font-weight: 100;
  /* font-size: .5em; */
  margin-top: 4px;
  margin-left: 3px;
}

input.text-field {
  padding: 1.2em;
  border-radius: 6px;
  border: .5px solid lightgrey;
  /* border-color: grey; */
  margin: .8em .4em;
  box-shadow: 0px 1px 2px 0px lightgrey;
  background: rgba(255, 255, 255, 0.7);

}

input.text-field.large {
  min-width: 40vh;
}

input.text-field.datepicker {
  margin-left:  1em;
} 


input.submit {
  min-width: 10vh;
  font-weight: bold;
  box-shadow: none;
  margin-left: 2em;
}
.submit:hover {
  background: black;
  color: white;
  cursor: pointer;
  transition: all .5s;
}

/* checkbox styling */
.checkbox-container{
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  cursor: pointer;
  margin: 1em 0em 1em .8em;
}

input.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin: 2px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: inline;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* landing page form style ends */

/* MAP STYLING */
.map-container {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.map-icon{
  width: 40px;
}

canvas.mapboxgl-canvas {
  position: relative !important;
  border-radius: 8px;
  /* box-shadow: 0 0 2px 2px #222; */
  /* width: 100vh !important;
  height: auto !important; */
}

.event-pin {
  fill: #7c3ee0;
}
.event-pin:hover{
  fill: rgb(75, 255, 255);
}

/* popup styling */
.popup-img {
  max-width: 4em;
  border-radius: 4px;
}
.popup-orgname{
  font-size: 1em;
}



/* .icon-circle {
  border: 4px solid lightblue;
  border-radius: 50%;
  visibility: hidden;
}

.icon-circle {
  visibility: visible;
} */